<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.aita.widgettemplate"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/template_ic_launcher"
        android:label="@string/template_app_name"
        android:theme="@style/Theme.Template">

        <activity
            android:name=".MainActivity"
            android:label="@string/template_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
